<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Printerhub</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Terms of use</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>