<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/customized-design.css"/>
    <title>Hello, world!</title>
    <style>
        div {
        // border-style: solid;
        }
    </style>
</head>

<body>
<header class="sticky-top">
    <!-- primary -->
    <ul class="nav nav-tabs bg-primary">
        <li class="nav-item">
            <a class="nav-link" href="mainPage.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="termsPage.html">Terms of use</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="loginPage.html">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="registerPage.html">Register</a>
        </li>
    </ul>
</header>
</br>
<main class="container mt-4" >
    <div class="row">
        <div class="col text-center mt-3"><h1>Confirm your email:</h1></div>
    </div>
    <form action="http://www.wikipedia.com" method="get">
        <div class="row mt-2">
            <div class="col">You need to activate your account. Go to your mailbox and click verification link. It should be sended soon. </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 mt-3">Authentication token:</div>
            <div class="col-6 mt-3"><input type="text" class="form-control"></div>
            <input type="submit" class="btn btn-primary btn-raised col-3" value="Confirm">
        </div>

    </form>

</main>


</body>

</html>