<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/customized-design.css"/>
    <title>Hello, world!</title>
    <style>
        div {
        / / border-style: solid;
        }
    </style>
</head>

<body>
<header class="sticky-top">
    <!-- primary -->
    <ul class="nav nav-tabs bg-primary">
        <li class="nav-item">
            <a class="nav-link" href="mainPage.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="termsPage.html">Terms of use</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="loginPage.html">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="registerPage.html">Register</a>
        </li>
    </ul>
</header>
</br>
<main class="container">
    <div class="row">
        <div class="col text-center mb-3">
            <h1>Terms of use</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra dignissim varius. Ut in nunc
                et massa tempus vestibulum ut sit amet urna. Pellentesque eu quam venenatis, facilisis tellus quis,
                mattis neque. Curabitur aliquam est eros, sit amet sagittis arcu gravida in. Pellentesque hendrerit
                pulvinar massa ac cursus. Nulla vel blandit elit. Donec eu suscipit sapien. Vestibulum cursus erat eget
                rutrum bibendum. Quisque ac dolor erat. Nam libero odio, iaculis euismod nulla vitae, rhoncus
                scelerisque nisi. Nam a sapien nec sapien ullamcorper semper. In vitae lectus vestibulum, eleifend
                tortor sit amet, tristique elit. Donec neque sem, dignissim at tortor sit amet, fringilla accumsan
                dolor.
            </p>
            <p>
                Vestibulum euismod dui nec odio mattis, et ultrices dui feugiat. Nullam facilisis enim ac risus
                ultricies, sit amet faucibus augue varius. Aliquam rhoncus, odio sed blandit faucibus, tortor urna
                ullamcorper velit, ac aliquam metus nunc ut nibh. Curabitur sed augue nec tortor lacinia ultrices a
                laoreet ante. In lacus nisi, mattis ut ornare id, cursus ac quam. Vestibulum vitae enim nec ante
                sollicitudin iaculis. Nam vitae tincidunt quam, quis mollis lacus. Pellentesque sodales ante quis metus
                luctus, et vulputate tellus placerat. Sed scelerisque egestas justo non porttitor. Aliquam quis magna
                pretium, euismod purus vel, facilisis lorem. Pellentesque fermentum erat in magna rhoncus aliquam.
                Aliquam rhoncus vitae dolor id congue. Duis congue libero turpis, eget placerat neque varius ut.
            </p>
            Sed dapibus in sapien eget dignissim. Cras mauris mauris, dapibus nec leo eu, finibus tempor est. Nullam
            interdum elit sed pretium venenatis. Sed malesuada porta lobortis. Nullam pulvinar eget nibh ut eleifend.
            Aenean sed vestibulum eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent fringilla
            nisi a orci ultrices, ut consectetur ipsum consequat. Praesent vitae commodo augue, at suscipit justo.
            Aliquam varius elit ex, eget condimentum magna fermentum ac. Donec rhoncus neque purus, ut tristique felis
            convallis a. In non tortor porttitor, cursus massa auctor, pretium neque.
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar ipsum pharetra, sollicitudin
                elit eu, aliquam nunc. Sed et dui consectetur, mattis massa eu, porttitor urna. Integer sodales pretium
                luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Nam laoreet lorem id sapien consequat imperdiet. Mauris in commodo neque.
            </p>
            <p>
                Morbi suscipit mollis neque, in ornare ipsum. Curabitur et nunc sed sapien mattis consectetur. Vivamus
                semper nec ligula lacinia hendrerit. Quisque sagittis rhoncus diam, ut semper turpis semper faucibus.
                Donec sollicitudin augue nec ornare rutrum. Vivamus pretium sodales bibendum. Vestibulum gravida arcu
                dictum ligula tincidunt tempor. Sed in dictum tellus. Vivamus id iaculis libero. Integer sit amet
                imperdiet ipsum, eu feugiat risus. Donec eget risus sed magna maximus tristique non tempor risus.
            </p>
        </div>
    </div>

</main>


</body>

</html>